<h1 class="page-header">User List</h1>

{{#error}}
<div class="alert alert-block alert-danger" role="alert">
  <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  </button>
  <strong>Error!</strong> {{ errorMessage }}
</div>
{{/error}}

<div class="table-responsive">
    <table class="user-table table">
        <thead>
            <tr>
               <th>User</th>
               <th>Actions</th>
            </tr>
        </thead>
        <tbody class="table-striped table-hover">
        {{#noUsers}}
            <tr class="warning text-centered">
                <td colspan="2">You currently have no users in your system</td>
            </tr>
        {{/noUsers}}
        {{#each users}}
            <tr>
                <td>{{ this }}</td>
                <td>
                    <a href="/user/{{ this }}">
                    <i class="fa fa-info-circle fa-fw fa-2x" title="User information">
                    <span class="element-invisible">User information</span></i>
                    </a>
                    <i class="fa fa-lock fa-fw fa-2x" title="Reset password">
                    <span class="element-invisible">Reset password</span></i>

                    <i class="fa fa-trash-o fa-fw fa-2x delete-user" title="Delete user" data-jid="{{ this }}">
                    <span class="element-invisible">Delete user</span>
                    </i>
                </td>
            </tr>
        {{/each}}
        </tbody>
        <tfoot>
            <tr>
               <th>User</th>
               <th>Actions</th>
            </tr>
        </tfoot>
    </table>
</div>