<div class="container">
      <!-- Example row of columns -->
      <div class="row">
          <h1 class="page-header">Page not found</h1>
          <p>Really sorry about this, but page not found I'm afraid :(</p>
      </div>
</div>