<div class="modal fade" id="delete-user" tabindex="-1" role="dialog" aria-labelledby="delete-modal" aria-hidden="true" aria-jid="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
      </div>
      <div class="modal-body">
      <p>Are you sure that you would like to delete user <span class="jid">user@example.com</span>?</p>
      <p class="alert alert-info" role="alert"><strong>Note:</strong> This will not remove their data from the system, just their user account so they 
      will no longer be able to log in.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>