<ul class="nav nav-sidebar">
    <li><a href="#">Overview</a></li>
    <li><a href="#">Analytics</a></li>
    <li><a href="#">Export</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="/account/users">Users</a></li>

</ul>